<h1 class="text-center mb-4">Public Recipes</h1>
<% @public_recipes.each do |recipe| %>
  <div class="d-flex flex-row justify-content-between card p-3 mb-3">
    <div>
      <h2><%= link_to recipe.name, recipe_path(recipe.id) %></h2>
      <p>By: <%= recipe.user.name%></p>
    </div>
    <div>
      <p>Total food items: <%= recipe.foods.length%></p>
      <p>Total price: 
        <% @total_price = recipe.foods.reduce(0) do |total, food| %>
        <% total + (food[:price] * recipe.recipe_foods.where(food: food).pluck('quantity')[0]) %>
        <% end %>
        $<%= @total_price %>
      </p>
    </div>
  </div>
<% end%>
